.w3-button {
  background-color:  darkorange;
  border: 2px solid #008CBA;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.w3-button:hover {
  background-color: rgb(230, 176, 157);
  color: #008CBA;
}
