@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);




/*grid mobile first*/
#afficheAlbums{
  height: 400px; ;
  overflow: auto;
}

.item1{
grid-area: header;
min-height: 75px;
}
.item2{
grid-area: menu;
min-height: 75px;

}
.item3{
grid-area: coverflow;

}
.item4  {
grid-area: panier;
min-height: 50px;
}

.item5 {
grid-area: ventes;
min-height: 50px;}

.item6{
grid-area: lapub;}


.itemlogo{ 
grid-area: logo;
}
.grid-container {
display : grid;
grid-gap : 5px;
margin : 5px;
grid-template-areas:
'logo'
'header '
'menu'
'coverflow'
'panier '
'ventes '
'lapub ';

}
.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px 0;
font-size: 100%;
font-family: Architects Daughter;

}

html{
background-color :rgb(73, 73, 73);
--gap: 3rem;
scrollbar-color: #666 #201c29;
margin : auto;
}
#fakebody{
justify-self: center;
margin: auto;
margin-top: 20px;
background-color: whitesmoke;
padding: 5px 0 5px 0;
border-radius:5px;

}
#topaiment:hover{
  cursor: pointer;
}
@media only screen and (min-width: 700px) {

  #afficheAlbums{
    height: 600px; ;
    overflow: auto;
  }


#fakebody{
max-width: 1400px;
    justify-self: center;
    margin: auto;
    margin-top: 20px;
    background-color: whitesmoke;
    
    border-radius:5px;
    
}

/*grid*/
.item1 { 
grid-column-start: 2;
grid-column-end:9 ;
grid-row:1/2; 
}

.item2  {
grid-column-start: 1;
grid-column-end:1 ;
grid-row-start:2;
grid-row-end: 6 ;
min-width: 50px;
/* min-height: 600px; */
}

.item3  {
grid-column-start: 1;
grid-column-end:9 ;
grid-row: 2/5;       
min-height: 300px; 
}

.item4  {
grid-column: 8/9;
grid-row: 2/6;
min-width: 50px;
/* min-height : 300px; */ 

}
.active :hover{
  transform: scale(1.85);
}

.item5 {
grid-column:1/9 ;
grid-row: 5/6;  
}

.item6{
grid-column-start: 1;
grid-column-end: 9 ;
grid-row: 6/7;
}


.itemlogo{ 
grid-column: 1 /1;
min-width: 50px;
grid-row: 1/2; 
padding: 5px;
}

.grid-container {
display: grid;
/* grid-template-areas:
'header header header header header header header header'
'menu main main main main main main right'
'menu footer footer footer footer footer footer right'; */
grid-template-columns : auto;
grid-gap: 10px;
padding: 10px;
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px 0;
font-size: 100%;
font-family: Architects Daughter;

}

}
/*case*/
.comic {
display:flex;
justify-content: center;
flex-wrap:wrap;
font-family:'Comic Sans', cursive;
padding:1vmin;
}

.panel {
background-color:#fff;
border:solid 2px #000;
box-shadow:0 6px 6px -6px #000;
display:inline-block;
/* flex:1 1; */
/* height:200px; */
align-content: space-between;
overflow:hidden;
position:relative;
}

#coverflow {
width: 75vw;
/* height : 35vw; */

}
/* text titre*/
.text {
background-color:#fff;
border:solid 2px #000;
margin:0;
padding:3px 10px;
}

.top-left {
left:-6px;
position:absolute;
top:-2px;
transform:skew(-15deg);
}

.bottom-right {
bottom:-2px;
position:absolute;
right:-6px;
transform:skew(-15deg);
}

/*bulle bd*/
.speech {
background-color:#fff;
border:solid 2px #000;
border-radius:12px;
display:inline-block;
margin:.5em;
padding:.5em 1em;
position:relative;
width: 200px;
}
.speech:before {
border:solid 12px transparent;
border-left:solid 12px #000;
border-top:solid 12px #000;
bottom:-24px;
content:"";
height:0;
left:24px;
position:absolute;
transform:skew(-15deg);
width:0;
}

.speech:after {
border:solid 10px transparent;
border-left:solid 10px #fff;
border-top:solid 10px #fff;
bottom:-19px;
content:"";
height:0;
left:27px;
position:absolute;
transform:skew(-15deg);
width:0;
}

.panel:nth-child(1) {
flex-basis: auto;

}
.panel:nth-child(2) {

flex-basis: 600px; 

}
.panel:nth-child(3) {
flex-basis: 200px;
}
.panel:nth-child(4) {
flex-basis: 200px;
}
.panel:nth-child(5) {
flex-basis: 200px;
}
.panel:nth-child(6) {
flex-basis: 200px;
}
.panel:nth-child(7) {
flex-basis: 400px;
}
.panel:nth-child(8) {
flex-basis: 200px;
}
.panel:nth-child(9) {
flex-basis: 200px;
}

/* background colours */

.panel:nth-child(4n+1) {
background-image:radial-gradient(circle, yellow, orange);
}

.panel:nth-child(4n+2) {
background-image:radial-gradient(circle, lightblue, deepskyblue);
}

.panel:nth-child(4n+3) {
background-image:radial-gradient(circle, palegreen, yellowgreen);
}

.panel:nth-child(4n+4) {
background-image:radial-gradient(circle, lightcoral, tomato);
}
.panel:nth-child(4n+6) {
background-image:radial-gradient(circle, tomato, rgb(240, 71, 255));
}
.panel:nth-child(4n+7) {
background-image:radial-gradient(circle, rgb(32, 8, 246), rgb(71, 89, 255));
}
