.champFormulaire{
    border-color: red;
    border-style: inset;
    border-width:0.5em;
}

.champFormulaireOk{
    border-color: green;
    border-style: inset;
    border-width:0.5em;

}

form{
    display: flex;
    flex-direction: column;
}

label {
   
    font-size: 16px;
    color: #333;
    height: 25px;
    width: 40%;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    margin-right:5px;
    float:left;
}
input {
    height: 25px;
    width: 200px;
    border: 1px solid #000;
    margin-top: 10px;
}
.ui-helper-hidden-accessible{
    display: none;
}