#recap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 400px;
    
}
.dispositionPaiments{
    max-height: 100px;
}
#totalAPayer{
    float: left;
    font-size: 24px;
    margin-left: 2px;
}

#btnpayer{
    float: right;
    font-size: 24px;
    margin-right: 2px ;
}
#btnpayer:hover{
    cursor: pointer;
    padding: 1px;
    font-size: 21px;
    border  : 1px solid black;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(139, 130, 130, 0.5);
    box-shadow: rgb(0, 0, 0,0.3) 5px 5px 0px 0px;
    
}