#afficheTitres {
    display: inline;
}

#afficheAuteurs {
    display: none;
}

#afficheSeries {
    display: none;
}

#titres:hover {
    background-color: orangered;
}

#auteurs:hover {
    background-color: orangered;
}

#series:hover {
    background-color: orangered;
}
/*grid mobile first*/

.result{
    height: 400px;
    overflow: auto;
  }


@media only screen and (min-width: 700px) {

.result{
    height: 600px;
    overflow: auto;
    }
}