.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


p{
  margin: 3px;
}
h3{margin: 3px;}
.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-image:radial-gradient(circle, #eff4ff,#00aba9);
  min-width: 160px;
  box-shadow: 0 10px 10px -10px black;
  z-index: 1;
  border: 1px solid black;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  border: 1px solid black;
  background-image: radial-gradient(circle, #0072B5,#9BB7D4);;
  color: white;
}

.dropdown-content a:hover {
  background-image:radial-gradient(circle, lightblue, deepskyblue);
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.searchpanel {
  background-image:radial-gradient(circle, lightblue, deepskyblue);
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  display:inline-block;
  align-content: space-between;
  position:relative;
  overflow: visible;
  }
.searchpanel:nth-child(4n+1) {
    background-image:radial-gradient(circle, rgb(123, 205, 233), deepskyblue);
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

    